(
    name: "Harbor Dark",
    foreground: "#EFEBDC",
    cursor: "#C0AF7F",
    bright_foreground: "#FAF7EC",
    dim_foreground: "#8F8B7A",
    normal: (
        black: "#1B1B1B",
        red: "#F44336",
        green: "#C0AF7F",
        yellow: "#A99B7A",
        blue: "#E58980",
        magenta: "#8A959C",
        cyan: "#948F80",
        white: "#E1CE98",
    ),
    bright: (
        black: "#817F68",
        red: "#FF7B72",
        green: "#DBCC94",
        yellow: "#CCB88F",
        blue: "#FDA9A1",
        magenta: "#91A7B3",
        cyan: "#AFAD9D",
        white: "#EFEBDC",
    ),
    dim: (
        black: "#111111",
        red: "#CF120F",
        green: "#A19061",
        yellow: "#8A7D5D",
        blue: "#C36B63",
        magenta: "#6D777E",
        cyan: "#767163",
        white: "#C1AE79",
    ),
)
