(
    name: "Harbor Light",
    foreground: "#1B1B1B",
    cursor: "#655628",
    bright_foreground: "#000000",
    dim_foreground: "#6F6C5F",
    normal: (
        black: "#1B1B1B",
        red: "#B01A1A",
        green: "#655628",
        yellow: "#5E5545",
        blue: "#89433C",
        magenta: "#3C464C",
        cyan: "#4E6165",
        white: "#6F6C5F",
    ),
    bright: (
        black: "#47453D",
        red: "#850007",
        green: "#493B09",
        yellow: "#433A2B",
        blue: "#6A2722",
        magenta: "#232C32",
        cyan: "#334649",
        white: "#8E8B7B",
    ),
    dim: (
        black: "#3A3A38",
        red: "#D5433B",
        green: "#847446",
        yellow: "#7C7362",
        blue: "#AB6159",
        magenta: "#586369",
        cyan: "#6C7F84",
        white: "#84816F",
    ),
)
