(
    name: "Harbor Light",
    foreground: "#1B1B1B",
    cursor: "#1B1B1B",
    bright_foreground: "#1B1B1B",
    dim_foreground: "#5A5953",
    normal: (
        black: "#1B1B1B",
        red: "#B01A1A",
        green: "#655628",
        yellow: "#5E5545",
        blue: "#89433C",
        magenta: "#4A545A",
        cyan: "#555555",
        white: "#D8D2BC",
    ),
    bright: (
        black: "#57554A",
        red: "#B01A1A",
        green: "#655628",
        yellow: "#5E5545",
        blue: "#89433C",
        magenta: "#4A545A",
        cyan: "#555555",
        white: "#E4DFCC",
    ),
    dim: (
        black: "#1B1B1B",
        red: "#B01A1A",
        green: "#655628",
        yellow: "#5E5545",
        blue: "#89433C",
        magenta: "#4A545A",
        cyan: "#555555",
        white: "#D8D2BC",
    ),
)
