(
    name: "Warm Ember Light",
    foreground: "#1B1B1B",
    background: "#F8F6EE",
    cursor: "#A23026",
    bright_foreground: "#000000",
    dim_foreground: "#7B7972",
    normal: (
        black: "#1B1B1B",
        red: "#B01A1A",
        green: "#A23026",
        yellow: "#655628",
        blue: "#65737F",
        magenta: "#3F4A52",
        cyan: "#5A5953",
        white: "#8B7F5E",
    ),
    bright: (
        black: "#504F4B",
        red: "#B01A1A",
        green: "#A23026",
        yellow: "#655628",
        blue: "#65737F",
        magenta: "#3F4A52",
        cyan: "#5A5953",
        white: "#A8A59B",
    ),
    dim: (
        black: "#383838",
        red: "#DA493F",
        green: "#CB5649",
        yellow: "#88784A",
        blue: "#8897A3",
        magenta: "#606B74",
        cyan: "#7C7B75",
        white: "#B0A381",
    ),
)