(
    palette: Light((
        name: "Harbor-Light",
        bright_red: "#A23026FF",
        bright_green: "#4A545AFF",
        bright_orange: "#89433CFF",
        gray_1: "#EFEBDCFF",
        gray_2: "#F8F6EEFF",
        neutral_0: "#EFEBDCFF",
        neutral_1: "#D7D3C6FF",
        neutral_2: "#BFBCB0FF",
        neutral_3: "#A8A59BFF",
        neutral_4: "#918F86FF",
        neutral_5: "#7B7972FF",
        neutral_6: "#5A5953FF",
        neutral_7: "#504F4BFF",
        neutral_8: "#3C3C39FF",
        neutral_9: "#2A2A29FF",
        neutral_10: "#1B1B1BFF",
        accent_blue: "#89433CFF",
        accent_indigo: "#50595EFF",
        accent_purple: "#50595EFF",
        accent_pink: "#89433CFF",
        accent_red: "#B01A1AFF",
        accent_orange: "#89433CFF",
        accent_yellow: "#655628FF",
        accent_green: "#A23026FF",
        accent_warm_grey: "#57554AFF",
        ext_warm_grey: "#57554AFF",
        ext_orange: "#89433CFF",
        ext_yellow: "#5E5545FF",
        ext_blue: "#4A545AFF",
        ext_purple: "#50595EFF",
        ext_pink: "#89433CFF",
        ext_indigo: "#50595EFF",
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (2.0, 2.0, 2.0, 2.0),
        radius_m: (2.0, 2.0, 2.0, 2.0),
        radius_l: (2.0, 2.0, 2.0, 2.0),
        radius_xl: (2.0, 2.0, 2.0, 2.0),
    ),
    neutral_tint: Some("#7B7972FF"),
    bg_color: Some("#D9D1B8FF"),
    primary_container_bg: Some("#EFEBDCFF"),
    secondary_container_bg: Some("#F8F6EEFF"),
    text_tint: Some("#655628FF"),
    accent: Some("#655628FF"),
    success: Some("#5E5545FF"),
    warning: Some("#655628FF"),
    destructive: Some("#B01A1AFF"),
    frosted: VeryLow,
    gaps: (0, 7),
    active_hint: 1,
    window_hint: Some("#655628FF"),
    frosted_windows: true,
    frosted_system_interface: true,
    frosted_panel: true,
    frosted_applets: true,
    frosted_maximized_apps: false,
    alpha_map: (
        extremely_low: 0.96615,
        extremely_low_2: 0.94307,
        very_low: 0.92,
        very_low_2: 0.89691,
        low: 0.87384,
        low_2: 0.85076,
        medium: 0.82769,
        medium_2: 0.80461,
        high: 0.78153,
        high_2: 0.75846,
        very_high: 0.72638,
        very_high_2: 0.7123,
        extremely_high: 0.68923,
        extremely_high_2: 0.66615,
    ),
)
